Source: libmongo-client
Priority: extra
Maintainer: Gergely Nagy <algernon@madhouse-project.org>
Build-Depends: debhelper (>= 8), autotools-dev, libglib2.0-dev, libssl-dev, perl, libtool, autoconf, automake
Standards-Version: 3.9.1
Section: libs
Vcs-Git: git://git.madhouse-project.org/projects/libmongo-client.git
Vcs-Browser: http://git.madhouse-project.org/projects/libmongo-client/

Package: libmongo-client-dev
Section: libdevel
Architecture: any
Depends: libmongo-client0 (= ${binary:Version}), pkg-config, ${misc:Depends}
Description: Development files for the alternate C driver for MongoDB.
 libmongo-client is an alternative C language driver to the MongoDB
 document-oriented datastore.
 .
 This package is needed to compile programs against libmongo-client0,
 as only it includes the header files and static libraries needed for
 compiling.

Package: libmongo-client0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Alternate C driver for the MongoDB document-oriented datastore.
 MongoDB is a high-performance, open source, schema-free
 document-oriented data store.
 .
 This library provides an alternative C language driver, focusing more
 on ease of use.
 .
 Among its features are:
 .
   * Support for asynchronous operation.
   * C-like error handling.
   * ReplicaSet support.
